/*global css for whole page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 255, 255);
    color: #333;
}
/*Navbar style*/
header {
  background-color: #f8ade3;
  padding: 20px 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);/*0 :no horizontals ,2px:slight vertical shadow 8px:blurred shadow*/
  position: sticky;    /*navbar will fixed still after you scroll the page*/
  top: 0;              /*stick to the */
  z-index: 1000;       /*stays on top of the sections when overlap*/

}
nav{
    display: flex;     /* by default arrange it in horixontal manner*/
    justify-content:space-between ;
    align-items: center;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #0077cc;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px; 
}
/* css for hambutger menu clicakble hide and shows using toggle*/
.hamburger{
    display: none;/*this will hide hamburger on big screen*/
    font-size: 28px;
    cursor: pointer;
    color: #333;
}
/* media query for mobile*/
@media (max-width:768px){
    .nav-links{
        display: none;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 60px;
        right: 60px;
        padding:20px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        border-radius: 10px;
        
    }
.nav-links.show {
    display: flex;
  }
   .hamburger {
    display: block;
  }
nav {
    position: relative;
  }
}
/* about section css */
.about{
    padding: 60px 20px;
    background-color: #fef5fb;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
   
}
.about p{
    font-size: 18px;
    color: #555;
    max-width: 800px;
    margin: 10px auto;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.skills-heading{
    text-align: center;
    color: rgb(66, 14, 14);
}
.skills-container{
    display:flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: rgb(248, 233, 236);
    border-radius: 30px;
    padding: 10px 20px;
    
}
 